<div class="page-header">
    <!--HOME HEADER-->
    <div class="page-header-logo">
      <h2>MyCompany</h2>
    </div>
    <div>
      <div class="page-header-secondary">
        
      </div>      
      <div class="page-header-primary">
        <div class="page-header-primary-nav">
            <a href="#">HOME</a>
            <a href="#">ABOUT</a>
            <a href="#">CONTACT</a>
            <a href="#">COURSES</a>
        </div>
        <div class="page-header-login-logout">
            <a href="#">LOGIN</a>
            <a href="#">LOGOUT</a>
        </div>
      </div>
      
    </div>
  </div>