<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-about">
      <h4>About Us</h4>
      <p>
        We are a leading company delivering top-notch software solutions, consulting, and training to help you grow 
        professionally and personally.
      </p>
    </div>

    <div class="footer-links-container">
      <div class="footer-links">
        <h4>Services</h4>
        <ul>
          <li><a href="#">Software Training</a></li>
          <li><a href="#">Placement & Job</a></li>
          <li><a href="#">Software Consulting</a></li>
          <li><a href="#">Online Courses</a></li>
          <li><a href="#">Other Services</a></li>
        </ul>
      </div>

      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Contribute</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Sitemap</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2025 MyCompany. All Rights Reserved.</p>
    <div class="social-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
    </div>
  </div>
</footer>
